<section>
	<h3>Ask a question</h3>
	<p>Send a message to the dojo</p>
	<form action="mailto:jermnelson@gmail">
	{# <label for="form">From</label>
	<input type="text" name="from" alt="From"></input> #}
        <label for="subject">About</label>
        <select name="subject">
		<option>Is Aikido right for me?</option>
		<option>Classes Times</option>
		<option>Joining the Dojo</option>
		<option>Upcoming Events</option>
		<option>Other</option>
        </select>
	<label for="body"> Message</label>
	<textarea cols="20" rows="5" name="body"></textarea>
	<ul class="actions">
		<li><input type="submit" class="button alt" value="Send"></input></li>
	</ul>
	</form>
</section>

