{% extends 'base.html' %}

{% block header %}
<div id="header-wrapper">
	<div class="container">
	{% include 'includes/header.html' %}
	</div>
</div>
{% endblock %}

{% block main %}
<div id="main-wrapper">
	<div class="wrapper style2">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="8u">
						<div id="content">
							<article>
								<header class="major">
									<h3><time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time></h3>
									<h2>{{ article.title }}</h2>
                                                                        {% if article.summary %}
									<p>{{ article.summary }}</p>
                                                                        {% endif %}
								</header>
									{% if article.featured_image %}	
									<span class="image featured"><img src="{{ SITEURL }}/{{ article.featured_image }}" alt="" /></span>
									{% endif %}		
									{{ article }}
							</article>
						</div>
						</div>
						<div class="4u">
							<div id="sidebar">
								<section>
									<header class="major">
										<h2><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></h2>
									</header>
											<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. 
											Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. 
											Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi 
											consequat etiam.</p>
									<footer>
										<a href="#" class="button icon fa-info-circle">Find out more</a>
									</footer>
								</section>
								<section>
									<header class="major">
										<h2>Related Articles</h2>
									</header>
									<ul class="style2">
										<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
												<li><a href="#">Ornare in hendrerit in lectus</a></li>
												<li><a href="#">Semper mod quis eget mi dolore</a></li>
												<li><a href="#">Quam turpis feugiat sit dolor</a></li>
												<li><a href="#">Amet ornare in hendrerit in lectus</a></li>
												<li><a href="#">Semper mod quisturpis nisi</a></li>
												<li><a href="#">Consequat etiam lorem phasellus</a></li>
												<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
												<li><a href="#">Semper mod quisturpis nisi</a></li>
									</ul>
									<footer>
										<a href="#" class="button icon fa-arrow-circle-o-right">Do Something</a>
											</footer>
								</section>
							</div>
						</div>
					</div>
				</div>
		</div>
</div>
{% endblock %}

