{% extends 'base.html' %}

{% block main %}
<!-- One -->
<section id="one" class="wrapper style1">
	<header class="major">
		<h2>Martial Training for Mind, Body, and Spirit</h2>
                <p>Aikido is Japanese modern martial art of personal refinement<br>where technique is not an objective but a 
                   tool for mental, physical, and spiritual growth.</p>
	</header>
	<div class="container">
		<div class="row">
			<div class="4u">
				<section class="special box">
					<i class="icon fa-area-chart major"></i>
					<h3>About Aikido</h3>
					<p>
                                          Articles about Aikido
                                        </p>
                                        {% for tag,articles in tags %}
                                        {% if tag == 'Aikido' %}
                                        <dl>
					{% for article in articles %}	
 						<dt><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a><dt>
                                                <dd>{{ article.summary }}</dd>
					{% endfor %}
					</dl>
                                        {% endif %} 
                                        {% endfor %}
                                        </ul>
				</section>
			</div>
			<div class="4u">
				<section class="special box">
					<i class="icon fa-refresh major"></i>
					<h3>Upcoming Classes &amp; Events</h3>
					<p>Upcoming classes and Events at Pikes Peak Aikikai</p>
                                        {% for tag,articles in tags %}
                                        {% if tag == 'Events' %}
                                        <dl>
					{% for article in articles %}	
 						<dt><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a><dt>
                                                <dd>{{ article.summary }}</dd>
					{% endfor %}
					</dl>
                                        {% endif %} 
                                        {% endfor %}

				</section>
			</div>
			<div class="4u">
				<section class="special box">
					<i class="icon fa-cog major"></i>
					<h3>Visitors Welcome!</h3>
					<p>Please stop before <a href="/pages/classes.html">class</a>.
                                         We are located at:
                                        </p>
                                        <p>
                                         <strong>3425 Van Teylingen Drive<br>
                                          Colorado Springs, CO 80917
                                        </p>
				</section>
			</div>
		</div>
	</div>
</section>


{% endblock %}
