<div class="6u">
	<section>
		<header class="major">
			<h2>About Pikes Peak Aikikai</h2>
			<p>Rules of the Dojo</p>
		</header>
			<p>Pikes Peak Aikikai is an active member of <a href="http://asu.org/">Aikido Schools of Ueshiba</a>,
			founded and still lead by an original uchi-deci of O'Sensei, <a href="#">Saotome Sensi</a>. These
			rules come directly from the <a href="#">ASU Handbook</a>
			</p>
			<p>The dojo follows traditional rules of proper conduct. Its spirit comes directly from the 
			Founder of Aikido and it is the place of the succession of his teachings.
			</p>
			<p>It is the responsibility of each student to cooperate in creating a positive atmosphere of harmony and respect.</p>
		<footer>
			<a href="#" class="button medium icon fa-arrow-circle-right">More dojo etiquette</a>
		</footer>
	</section>
</div>
